# =============== Unity-specific settings =============== #

# Exclude files created by Unity and should not be tracked
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools/
/Assets/StreamingAssets/
/Packages/
/Logs/
/UserSettings/
/ExternalPackages/

# Exclude other common files
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.booproj

# Ignore meta files for external packages
#
